@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/Roboto-Light.eot");
  src: url("../fonts/RobotoLight/Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RobotoLight/Roboto-Light.woff") format("woff"),
    url("../fonts/RobotoLight/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/Roboto-Medium.eot");
  src: url("../fonts/RobotoMedium/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RobotoMedium/Roboto-Medium.woff") format("woff"),
    url("../fonts/RobotoMedium/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
