.prod {
  font-family: RobotoLight;
  font-size: 30px;
  margin-left: 40px;
  margin: 20px;
  padding-left: 10px;
}

div.block11 {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 247, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  -moz-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}

div.block12 {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 247, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  -moz-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}

div.block13 {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 245, 251);
  background: linear-gradient(
    307deg,
    rgba(255, 245, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  -moz-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}

div.block14 {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 245, 251);
  background: linear-gradient(
    307deg,
    rgba(255, 245, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin-right: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  -moz-box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}
p.cost {
  position: relative;
  left: 23px;
  top: 0px;
  font-size: 16px;
  color: #a4a4b2;
  margin: 0px;
}

p.number {
  position: relative;
  left: 20px;
  top: 17px;
  font-size: 26px;
  color: #000000;
  margin: 0px;
}
p.status-lock {
  position: relative;
  left: 20px;
  top: 33px;
  font-size: 16px;
  color: #a4a4b2;
  margin: 0px;
  display: flex;
}

p.status-noact {
  position: relative;
  left: 20px;
  top: 33px;
  font-size: 16px;
  color: #f9a01a;
  margin: 0px;
  display: flex;
}

p.year {
  position: relative;
  left: 243px;
  top: 12px;
  font-size: 16px;
  color: #a4a4b2;
  margin: 0px;
}
p.sum {
  font-family: "RobotoMedium";
  position: relative;
  left: 20px;
  top: 29px;
  font-size: 26px;
  color: #000000;
  margin: 0px;
}

.lock {
  width: 20px;
  height: 20px;
  background: url("../img/lock.svg");
  display: inline-block;
  margin-right: 3px;
}

.mc-icon {
  width: 50px;
  height: 30px;
  background: url("../img/mc.svg");
  display: inline-block;
  margin-left: 90px;
}
.visa-icon {
  width: 50px;
  height: 30px;
  background: url("../img/visa.svg");
  display: inline-block;
  margin-left: 90px;
}
.pen-icon {
  width: 20px;
  height: 20px;
  background: url("../img/pen.svg");
  display: inline-block;
}
.status .lock-noact {
  color: #f9a01a;
}

.warning-icon {
  width: 20px;
  height: 20px;
  background: url("../img/warning.svg");
  display: inline-block;
  margin-right: 3px;
}

.pen-icon:hover {
  background: url("../img/pen_act.svg");
  cursor: pointer;
}

.cent {
  font-family: "RobotoRegular";
  font-size: 20px;
  color: #a4a4b2;
}

p.block-money {
  position: relative;
  left: 20px;
  top: 24px;
  font-size: 14px;
  color: #a4a4b2;
  margin: 0px;
}
.pay {
  font-family: "RobotoMedium";
  position: relative;
  left: 20px;
  top: 28px;
  font-size: 26px;
  color: #000000;
  margin: -2px;
}

.interest {
  font-family: "RobotoMedium";
  position: relative;
  left: 20px;
  top: 28px;
  font-size: 26px;
  color: #000000;
  margin: -2px;
}
.leftpay {
  font-family: "RobotoRegular";
  position: relative;
  left: 20px;
  top: 5px;
  font-size: 24px;
  color: #000000;
  margin: 0px;
}

.money {
  font-family: "RobotoRegular";
  position: relative;
  left: 20px;
  top: 5px;
  font-size: 24px;
  color: #000000;
  margin: 0px;
}

.block-money.correct {
  padding-bottom: 15px;
  top: 22px;
}
