* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
}

.products {
  width: 1280px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

h1 {
  width: 100vw;
  font-family: "RobotoLight", sans-serif;
  font-weight: normal;
  font-size: 30px;
  margin: 22px 0px 22px 20px;
}

.card {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 247, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin: 0px 10px 10px 10px;
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}

.card > div {
  display: inline-flex;
}

.card > div:last-child {
  margin-right: 0;
}

.icon-lock {
  background: url("../img/icon-lock.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.icon-mastercard {
  float: right;
  width: 50px;
  height: 30px;
  background: url("../img/icon-mastercard.svg");
  background-repeat: no-repeat;
  margin: 20px 20px 0px 0px;
}

.icon-visa {
  float: right;
  width: 50px;
  height: 30px;
  background: url("../img/icon-visa.svg");
  background-repeat: no-repeat;
  margin: 20px 20px 0px 0px;
}

.icon-pen {
  width: 20px;
  height: 20px;
  background: url("../img/icon-pen.svg");
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 7px;
}

.icon-not-active {
  width: 20px;
  height: 20px;
  background: url("../img/icon-not-active.svg");
  display: inline-block;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.icon-pen:hover {
  background: url("../img/icon-pen-act.svg");
  cursor: pointer;
  background-repeat: no-repeat;
}

.name {
  font-size: 16px;
  color: #a4a4b2;
  margin: 23px 0px 0px 20px;
}

.number {
  font-size: 26px;
  margin: 18px 0px 0px 20px;
}

.status {
  display: flex;
  margin: 9px 0px 0px 20px;
}

.lock {
  color: #a4a4b2;
}

.not-active {
  color: #f9a01a;
}

.date {
  margin: 9px 20px 0px 0px;
  float: right;
  font-size: 16px;
  color: #a4a4b2;
}

.balance {
  margin: 18px 0px 0px 20px;
  font-family: "RobotoMedium", sans-serif;
  font-size: 26px;
  display: inline-flex;
}

.fractional,
.currency {
  font-family: "RobotoRegular", sans-serif;
  font-size: 20px;
  color: #a4a4b2;
}
span.currency {
  margin: 4px 0px 0px 3px;
}

.deposit > .balance,
.loan > .balance {
  margin: 1px 0px 0px 20px;
}

.deposit > .name,
.loan > .name {
  margin: 23px 0px 23px 20px;
  display: inline-flex;
}

.deposit {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 245, 251);
  background: linear-gradient(
    307deg,
    rgba(255, 245, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin: 0px 10px 10px 10px;
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}

.title {
  font-size: 14px;
  color: #a4a4b2;
  margin: 0px 0px 0px 20px;
}

.money {
  font-family: "RobotoRegular", sans-serif;
  display: inline-flex;
  font-size: 24px;
  color: #000000;
  margin: -5px 0px 16px 20px;
}

.loan {
  font-family: "RobotoRegular", sans-serif;
  background: rgb(255, 245, 251);
  background: linear-gradient(
    307deg,
    rgba(255, 245, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: inline-block;
  width: 320px;
  height: 200px;
  margin: 0px 10px 10px 10px;
  box-shadow: 0px 10px 20px 1px rgba(16, 0, 71, 0.07);
}

@media (max-width: 660px) {
  .products {
    justify-content: center;
  }
}

@media (max-width: 330px) {
  .card {
    width: 300px;
  }
}
